<div id="<%= dom_id post %>">
    <h1><%= @post.title %></h1>
    <p>
        by <%= link_to @post.user.name, @post.user %> on <%= @post.created_at %>
        <% if @post.updated_at.change(:usec => 0) != @post.created_at.change(:usec => 0) %> (updated on <%= @post.updated_at %>) <% end %>
    </p>

    <% if @post.photo.present? %>
       <p><%= image_tag @post.photo.variant(:medium) %></p> 
    <% end %>

    <p><%= @post.body %></p>

    <% if @post.user == current_user %>
        <div>
            <%= link_to 'Edit', edit_post_path(@post) %>
            <%= button_to "Destroy this post", @post, method: :delete %>
        </div>
    <% end %>
</div>
